.horizontal-form {
  margin: 0
}

#hot-wrap {
  position:relative;
  margin-bottom: 10px;
  height: 303px;
  overflow:hidden;
}

#hot-wrap #hot-table {}

.file-input {
  padding-top: 10px;
  background: #eee;
}

.file-input label {
  color: #0e0e0e;
}

.handsontable th {
  font-size: 0.9em;
}

.handsontable td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  vertical-align: middle;
}

.handsontable td.empty {
  background: red;
  color: #fff;
}

.handsontable td.empty input[type='checkbox'] {
  display: block;
  margin: 0 auto;
}

.handsontable td.minusTextColor {
  color: red;
}

.handsontable td.minusTextColor input[type='checkbox'] {
  align: center;

}

/*.handsontable tr th+td.empty { text-align:center; }*/

.handsontable td.subTotal {
  background: #ffe599ff;
  color: #000;
}

.handsontable td.total {
  background: #ea9999ff;
  color: #000;
}

.handsontable td.complete {
  background: #aaaaaa;
  color: #000;
}

.handsontable td.cancle {
  position:relative;
  /*text-decoration: line-through;*/
}
.handsontable td.cancle::after {
  content:''; position:absolute; width:100%; height:1px; background-color:red; top:50%; left:0;
}

.handsontable td.completeRedText {
  background: #aaaaaa;
  color: #FF0000;
}

.handsontable td.orangeBGAndMinus {
  background: #ffa94c;
  color: #ff0000;
}

.handsontable td.orangeBGAndPlus {
  background: #ffa94c;
  color: #000000;
}

.handsontable td.whiteBGAndMinus {
  background: #ffffff;
  color: #ff0000;
}

.handsontable td.whiteBGAndPlus {
  background: #ffffff;
  color: #000000;
}

/*.handsontable tr th+td.complete { text-align:center; }*/
.handsontable td.complete input[type='checkbox'] {
  display: block;
  margin: 0 auto;
}

.handsontable .htCheckboxRendererInput {
  transform: scale(1.5);
}

.handsontable td.blacktext {
  color: #000;
}

.handsontable .currentRow {
  background: #adf3ff;
}

#hot-display-license-info { display:none; }

